/* Main/non-specific tags */
body {
    background-color: #fff;
    margin: 0;
}

header {
    width: 100%;
    height: 120px;
    margin: 0;
    padding-top: 30px;
    background-color: #AA3939;
}

a {
    text-decoration: none;
}

li {
    display: inline;
    border-bottom: #801515 solid 5px;
}

img {
    min-width: 300px;
    opacity: .5;
    transition: .5s ease;
}

img:hover {
    opacity: 1;
}

#linked:hover {
    border-bottom: 0;
    transition: .5s ease;
}

/* Heading tags */
h1 {
    display: inline;
    padding: 5px 15px;
    font-size: 60px;
    background-color: #550000;
    color: lightgrey;
}

h2 {
    font-size: 50px;
}

/* Navigation */
nav {
    display: inline;
    float: right;
    margin: 25px 50px 0 0;
}

nav ul {
    display: inline;
    list-style-type: none;
    max-width: fit-content;
    margin: 0;
    font-size: 150%;
    color: lightgray;
}

nav li {
    padding: 10px 15px;
}

nav a {
    color: lightgray;
}

.img-border {
    border: #AA3939 solid 10px;
    width: 93%;
}

.small-img-border {
    border: #AA3939 solid 10px;
    width: 45%;
    margin-top: 20px;
}

/* Main content */
.columns {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* About Me section */
#about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
}

#about-me p {
    font-size: 20px;
    color: grey;
    margin-left: 15px;
    line-height: 30px;
}
.about-content {
    display: flex;
    justify-content: center;
    width: 75%;
}

/* Work section */
#work {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    width: 100%;
}

.work-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1px;
    width: 75%;
}

.work-content img {
    width: 100%;
}

.work-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.large-img {
    position: relative;
    margin-bottom: -4px;
}

.large-img img {
    max-height: 512px;
}

.small-img {
    position: relative;
    margin-bottom: -4px;
}

/* Contact Me section */
#contact-me {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px 0;
}

.contact-content {
    display: flex;
    align-items: center;
    width: 80%;
}

.contact-content a {
    color: black;
}

.contact-content {
    display: flex;
    align-items: center;
    width: 80%;
}

.contact-content ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 0;
    font-size: 150%;
}

.contact-content li {
    padding-bottom: 5px;
    margin: 0 15px;
}

/* Row headers */
.header {
    display: flex;
    justify-content: flex-end;
    border-right: 3px solid #801515;
    color: #550000;
    padding-right: 15px;
    width: 20%;
    min-width: 100px;
}

/* Image overlays */
.img-text {
    position: absolute;
    background-color: #AA3939;
    border-radius: 0 5px 5px 0;
    bottom: 40px;
    left: -1px;
    padding: 0 15px;
    color: lightgrey;
}

/* Media queries */

/* 1050px first media query */
@media screen and (max-width: 1050px) {
    .small-img {
        max-width: 100%;
        width: 93%;
        height: 200px;
    }
    header {
        padding-top: 0;
        height: 150px;
    }
    h1 {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    nav {
        display: block;
        float: none;
        text-align: center;
        margin-top: 17px;
    }
    nav li {
        margin-bottom: 30px;
    }
}

/* 900px */
@media screen and (max-width: 900px) {
    .header {
        width: 25%;
        justify-content: flex-start;
    }
    h2 {
        font-size: 45px;
    }
    .work-content img {
        margin-left: 7px;
    }
    .contact-content {
        width: 75%;
    }
}

/* 600px */
@media screen and (max-width: 650px) {
    h2 {
        font-size: 35px;
    }
    nav li {
        font-size: 75%;
    }
    .header {
        width: 120px;
    }
    .contact-content ul {
        flex-direction: column;
    }
    .contact-content li {
        display: block;
        width: fit-content;
        margin-bottom: 10px;
    }
}

/* 500px */
@media screen and (max-width: 500px) {
    /* nav {

    } */
    h2 {
        font-size: 30px;
    }
}